**/cmake-build-debug
**/cmake-build-debug/**
**/.idea/**
**/.idea/workspace.xml
./idea/**
**.idea/
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build/
build/**
**build/**
build-test/
build-test/**
**build-test/**
website/vigapp/**
